h1 {
    text-align: center;
}



#chart-container {
    margin: auto;   
    width:800px !important;
    height: 500px !important;
    border: 2px solid black;
} 

#userinput {
    margin-left: 506px;
    margin-right: 506px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px
}

#submit {
    background-color: palegoldenrod;
    height: 25px;
    width: 120px; 
    font-weight: bold;
 }

#label {
    font-weight: bold;
}

#div4 {
    color: red;
    text-align: center;
}